/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew:wght@100&family=Open+Sans:wght@300&display=swap'); */
html{
background-color: rgba(211, 209, 209, 0.854);
}
.App{
  background-color:rgba(211, 209, 209, 0.854);
  text-align: left;
  /* font-family: 'Noto Serif Hebrew', serif; */
  font-weight:100;
}
